---
import Card from "../components/Card.astro";
import InfoList from "../components/InfoList.astro";
import PriceList from "../components/PriceList.astro";
const { headline, ...rest } = Astro.props;
---

<div {...rest} class="about">
  <Card headline="McWeed - Aus Liebe zur Cannabispflanze.">
    <InfoList
      infos={[
        "Mit 20 Jahren Erfahrung und seit 2022 als etablierte Plattform bieten wir dir Premium-Cannabis, direkt zu dir geliefert. Wir legen grossen Wert auf lokale, frische und zuverlässige Produkte.",
        "Mit unserer Expertise und langjährigen Erfahrung legen wir besonderen Wert auf ökologischen Anbau, um höchste Qualität und Sicherheit zu gewährleisten. Damit möchten wir unseren Beitrag zu einer besseren und grüneren Welt leisten.",
        "Wir sorgen dafür, dass deine Bestellung schnell, diskret und professionell geliefert wird – damit du dich entspannt zurücklehnen kannst.",
      ]}
    />
  </Card>
  <Card headline="Unsere exklusiven Abonnement-Pakete">
    <InfoList
      infos={[
        "<strong>Einmalige Mitgliedsgebühr</strong></br> Für die Mitgliedschaft in unserem Social Club fällt eine einmalige Gebühr von 100 € an.",
        "<strong>Unser Cannabis- und Haschisch-Sortiment</strong></br> Wir bieten dir Sorten zu Preisen zwischen 8 € und 20 € pro Gramm an. Der genaue Preis richtet sich nach der jeweiligen Sorte.",
        "<strong>Unsere Auswahl an Rosin und Edibles</strong></br> Wir bieten dir außerdem eine vielfältige Auswahl an Rosin und Edibles, darunter Cookies und weitere köstliche Leckereien.",
      ]}
    />
    <!-- <PriceList products={[
			{
				name: 'Abo Paket',
				description: '5g Cannabis pro Monat',
				price: '72,50€'
			},
			{
				name: 'Abo Paket',
				description: '10g Cannabis pro Monat',
				price: '135€'
			},
			{
				name: 'Abo Paket',
				description: '20g Cannabis pro Monat',
				price: '270€'
			},
			{
				name: 'Abo Paket',
				description: '30g Cannabis pro Monat',
				price: '405€'
			},
			{
				name: 'Abo Paket',
				description: '40g Cannabis pro Monat',
				price: '540€'
			},
			{
				name: 'Abo Paket',
				description: '50g Cannabis pro Monat',
				price: '675€'
			}

		]}/> -->
  </Card>
</div>

<style>
  .about {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem 15rem;
    border: 0;

    @media (min-width: 720px) {
      flex-direction: row;
      gap: 5rem;
    }
  }
  h2 {
    font-size: 4rem;
    color: var(--white);
  }
</style>
