---
const today = new Date();
---

<footer>
  <div class="anchor-links">
    <a
      href="https://www.more.com/gr-el/tickets/dance/festival/plan-of-decades/"
      target="_blank"
    >
      Tickets
    </a>
    <a href="/#timetable"> Timetable </a>
    <a href="/#locations"> Locations </a>
    <a href="/#guests"> Line Up </a>
    <a href="/#team"> Team </a>
  </div>
  <div class="contact-link">
    <a
      href="https://www.more.com/gr-el/tickets/dance/festival/plan-of-decades/"
      target="_blank">Ticketshop</a
    >
  </div>
  <div class="info-grid">
    <div class="contact-info">
      <!-- Copyright Year & owner -->
      &copy;{today.getFullYear()} Plan of Decades
      <a href="mailto:planofdecades@gmail.com">planofdecades@gmail.com</a>
    </div>
    <div class="social-links">
      <a href="https://www.instagram.com/plan_of_decades/" target="_blank">
        Instagram
      </a>
      <a href="https://www.youtube.com/@planofdecades" target="_blank">
        YouTube
      </a>
    </div>
    <div class="legal-links">
      <a href="/imprint"> Imprint </a>
      <a href="/privacy-policy"> Data Privacy </a>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 6rem 3rem;
    border-top: 3px solid var(--white);
    color: var(--white);
    text-align: center;

    @media (min-width: 720px) {
      padding: 6rem 6rem;
    }
  }
  .anchor-links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid var(--white);
    padding-bottom: 6rem;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 720px) {
      flex-direction: row;
      gap: 3rem;
    }
  }

  .anchor-links a {
    display: flex;
    gap: 0.5em;
  }

  .anchor-links svg {
    height: 1.5rem;
    min-width: 1.5rem;
    margin: auto;
  }
  .anchor-links svg * {
    fill: var(--muted);
  }
  .contact-link {
    display: flex;
    justify-content: flex-end;
    font-size: 6rem;
    line-height: 7rem;
    border-bottom: 1px solid var(--white);
    padding: 6rem 0;
    @media (min-width: 720px) {
      font-size: 10rem;
    }
  }
  .contact-link a {
    text-align: start;
  }
  .info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    margin-top: 1em;
    font-size: 1.4rem;
  }
  .info-grid div {
    display: flex;
    flex-direction: column;
  }
  a {
    color: var(--white);
  }
  a:hover {
    text-decoration: underline;
  }
  .address,
  .contact-info {
    text-align: left;
  }
  .legal-links,
  .social-links {
    text-align: left;
    @media (min-width: 720px) {
      text-align: right;
    }
  }
</style>
