---
const { headline, ...rest } = Astro.props;
---

<div {...rest} class="tickets">
  <h2>
    Are you ready to learn from our guest teachers, join the competition or
    watch the battles?​
  </h2>
  <div class="content">
    <a
      class="tickets-link"
      href="/documents/Jugendschutz-Mascri_Weed.pdf"
      target="_blank"
    >
      BUY TICKETS
    </a>
  </div>
</div>
<style>
  .tickets {
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    position: relative;
  }
  .tickets .content {
    margin: 5rem auto 23rem;
    font-size: 1.2rem;
    @media (min-width: 720px) {
      width: 80rem;
      max-width: 100%;
      margin: 3rem auto;
      font-size: 1.5rem;
    }
  }
  h2 {
    font-size: 3rem;
    color: var(--white);
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 720px) {
      font-size: 5rem;
    }
  }

  .tickets-link {
    color: var(--white);
    display: flex;
    margin: auto;
    align-items: center;
    gap: 1rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    border: 3px solid var(--white);
    padding: 1rem 2rem;
    width: fit-content;
  }
  .tickets-link:hover {
    text-decoration: none;
  }

  .tickets-decoration {
    width: 3rem;
    height: 3rem;
    margin: 5rem auto;
    animation: spin 8s linear infinite;
  }
  .tickets-decoration * {
    fill: var(--green);
  }
</style>
